<div class="hidden md:flex space-x-6">
  <a href="/" class="hover:text-sky-200 transition">Home</a>
  <a href="/about" class="hover:text-sky-200 transition">About</a>
  <a href="/services" class="hover:text-sky-200 transition">Services</a>
  <a href="/resources" class="hover:text-sky-200 transition">Resources</a>
  <a href="/blog" class="hover:text-sky-200 transition">Blog</a>
  <a href="/contact" class="hover:text-sky-200 transition">Contact</a>
</div> 